﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="CreditNodeIntlDetails.aspx.vb" Inherits="Reports_Accounts_CreditNodeIntlDetails" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <link href="../../CSS/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div id="div_invoice" runat="server" >
   
    <asp:Label ID="lbl_Detail" runat="server" ></asp:Label>
    </div>
    </form>
   
</body>
</html>
